@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #a59d9d;
  border-radius: 15px;
  transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #046daa;
}

::-webkit-scrollbar-thumb:active {
  background: #0862bb;
}

#cont {
  width: 100vw;
  height: 100vh;
  background-image: url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.Exo {
  font-family: 'Exo', sans-serif;
}

.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}